Challenge Name: Ukraine v Sweden
Players in Squad: 11
Nation: Ukraine OR Sweden: Min 2 Players
Players from the same Club: Min 2
Clubs in Squad: Max 5
Rarity: Rare: Min 1 Player
Team Rating: Min 78
Total Chemistry: Min 26
